*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fontes do projeto */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Calistoga&family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Calistoga&family=Didact+Gothic&family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/* Variáveis do projeto */

:root{
    --cor-primaria: #BE1A32;
    --cor-secundaria: #780313;
    --cor-assets1: #A7BF66;
    --cor-assets2: #FF6E84;
    --cor-background: #EDE9E7;
    --cor-detalhes: #565F34;

    /* Variáveis de texto */
    --textos-principais: 'Didact Gothic', sans-serif;
    --textos-secundários: 'DynaPuff', cursive;

    /* Como usar as variáveis
    background-color: var(--cor-destaque);
    font-family: var(--texto-principal); 
    */
}

/* NAV BAR */
.cabecalho{
    width: 100%;
    height: 65px;
    background-color: var(--cor-primaria);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao_navbar{
    background-color: var(--cor-primaria);
    display: flex;
    color: #ffffff;
    border: none;

    font-size: 20px;
    letter-spacing: 3px;

    padding: 6px 32px;
    border-radius: 8px;
    font-family: DynaPuff, cursive;
}

.navbar ul{
    display: flex;
    gap: 16px;
}

.navbar li{
    list-style: none;
    background-color: crimson;
    border: var(--cor-secundaria) solid 1px;
    padding: 5px;
    border-radius: 16px;
    color: #ffffff;
    font-family: var(--textos-secundários);
}

.navbar li a{
    color: #ffffff;
    text-decoration: none;
}

.navbar li:hover{
    background-color: var(--cor-assets2);
    border: #ff96a6 2px solid;
    transition: all 400ms ease-in-out;
    transform: scale(1.1);
}

.navbar li:hover a{
    color: #fcdbe0;
}


.Logo{
    padding: 0.5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Título principal */

h1{
    font-family: var(--textos-secundários);
    color: var(--cor-primaria);
    background-color: #ffffff;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    border: #ffffff 10px solid;
}

/* Parte que mostra a foto do projeto geral */

.dados_projeto{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    gap: 140px;
    margin: 20px;
}

.imagem_projeto img{
    width: 620px;
    height: 300px;
    border: #d35e6e 2px solid;
    border-radius: 16px;
}

.informacoes_projeto{
    display: inline-block;
    background-color: #ffffff;
    padding: 20px;
    width: 500px;
}

.informacoes_projeto h2{
    font-family: var(--textos-secundários);
    color: var(--cor-primaria);
    padding: 5px;
}
.informacoes_projeto p{
    font-family: var(--textos-principais);
    padding: 6px;
}

.detalhes_projeto{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}


/* Paletas de Cores do Projeto */

.paleta_container{
    display: grid;
    grid-template-columns: repeat(3, 45px);
    gap: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.cor_primaria{
    background-color: var(--cor-primaria);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 25px;
    color: #FFFFFF;
}

.cor_secundaria{
    background-color: var(--cor-secundaria);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 25px;
    color: #FFFFFF;
}

.cor_assets1{
    background-color: var(--cor-assets1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 25px;
    color: #FFFFFF;
}

.cor_background{
    background-color: #ffffff;
    border: #c9c9c9 0.2px solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 25px;
}

.cor_assets2{
    background-color: var(--cor-assets2);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 25px;
    color: #FFFFFF;
}

.cor_detalhes{
    background-color: var(--cor-detalhes);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 25px;
    color: #FFFFFF;
}

.detalhes_projeto .item_2{
    display: inline-block;
    background-color: #ffffff;
    width: 220px;
    height: 172px;
}

.item_2 img{
    width: 220px;
}

.Tipografia_projeto{
    display: inline-block;
    background-color: #ffffff;
    width: 326px;
    height: 172px;
    justify-items: center;
    gap: 5px;
    margin: 9px;
}

.Tipografia_projeto h2{
    margin: 20px;
    font-family: var(--textos-secundários);
    color: var(--cor-detalhes);
}

.Tipografia_projeto p{
    gap: 10px;
}

.Tipografia_projeto .textos_principais{
    font-family: var(--textos-principais);
    gap: 30px;
    font-size: 25px;
    color: #313131;
}

.Tipografia_projeto .textos_secundarios{
    font-family: var(--textos-secundários);
    gap: 30px;
    font-size: 25px;
    color: #313131;
}

.detalhes_projeto .botao_repositorio{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin: 9px;
}

.botao_repositorio h2{
    font-family: var(--textos-secundários);
    color: var(--cor-detalhes);
}

.botao_repositorio button{
    color: #ffffff;
    background-color: var(--cor-assets2);
    padding: 8px;
    margin: 10px;
    border-radius: 16px;
    border: #b33a4c 1px solid;
}

.botao_repositorio a{
    text-decoration: none;
    color: #FFFFFF;
}

/* FOOTER */

.desenho_footer {
    width: 560px;
}

.Contato{
    padding: 20px;
    background-color: #BE1A32;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.email_contato{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    width: 500px;
    background-color: var(--cor-assets2);
    border: #ff8396 solid 2px;
}

.email_contato button{
    display: block;
    background-color: #ffd1d8;
    height: 35px;
    width: 100px;
    border-radius: 16px;
    border: #a53a4a 2px solid;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;

}

.email_contato a{
    text-decoration: none;
    color: #000000;
}

.redes_contato{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    width: 500px;
    background-color: var(--cor-assets2);
    border: #ff8396 solid 2px;
}

.Contato h3,p{
    padding: auto;
}

.Contato h3{
    color: #ffffff;
    font-family: var(--textos-secundários);
    font-size: 26px;
    margin: 10px;
    padding: 10px;
}

.Contato p{
    color: #ffffff;
    font-size: 17px;
    font-family: var(--textos-principais);
    margin: 20px;
    padding: 10px;
}

.Contato li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.linkedin{
    margin: 2px;
    color: #ffffff;
    gap: 2px;
}

.github{
    margin: 7px;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}